@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bgPosImage {
  background-position: 50% 50%;
}

.svg-yellow {
  filter: invert(89%) sepia(31%) saturate(1011%) hue-rotate(37deg)
    brightness(104%) contrast(98%);
}

.shadow-sm-custom {
  box-shadow: 0 1px 14px rgba(221, 242, 71, 0.9);
}
